.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
     animation: Colour-Change infinite 20s linear;  
     animation: App-logo-spin infinite 20s linear;
 
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  
}
  to {
    transform: rotate(360deg);

  }
}
/* @keyframes Colour-Change {
  from {
      background-color: blue;
}
  to {
   background-color: #282c34;
  }
} */
/* .spiderContainer:hover {
  background-color: yellow;

} */
.spiders {
  height: 20vmin;
  width: 20vmin;
  padding: 2vmin;
 
}
.imgContainer {
  width:20vmin;
  padding: 2vmin;
  
}
.imgContainer:hover {
  background-color: red;

}
.spiderContainer{
background-color: blue;
background: blue;
display:flex;
justify-content: space-evenly;

margin: 0 auto;
}
